.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  padding: 0.5rem;
}

.AppName {
  font-size: 3em;
  font-weight: bold;
  color: #6ff1e7;
}