
#cy {
    border: 1px solid rgb(216, 0, 0);
    background-color: rgb(255, 255, 255);
}

.CytoscapeGraph__container {
    flex-direction: row;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.red {
    background-color: #f44336;
}

.sidebar {
    display: flex;
    flex: 2;
    box-shadow: 0 0.5rem 1rem rgba(4, 35, 36, 0.1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar_box {
    margin: 5px 0;
}

.canvas {
    flex: 8;
}

.sidebar_title {
    font-size: 1.2rem;
    font-family: inherit;
    color: #33f3e3;
    font-weight: bold;
}

.articles {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.mesh_link {
    color: #6ff1e7;
    text-decoration: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.label {
    font-family: inherit;
    margin-right: 5px;
}